<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	 "-//mybatis.org//DTD Config 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.project.user.mapper.ExerciseLibMapper'>
  <select id='getAll' resultType="com.project.user.dto.ExerciseLibDTO">
  	SELECT E_NO, E_NAME, E.C_NO, C_NAME, E_IMG, E_CONTENT FROM EXERCISE E JOIN EXERCISE_CATEGORY EC ON E.C_NO = EC.C_NO;
  </select>
</mapper>