<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	 "-//mybatis.org//DTD Config 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.project.exercise.mapper.ExerciseLibMapper'>

  <select id='getAllExerciseLib' resultType="com.project.exercise.dto.ExerciseLibDTO">
  	SELECT E_NO, E_NAME, E.C_NO AS C_NO, C_NAME, E_IMG, E_CONTENT FROM EXERCISE E JOIN EXERCISE_CATEGORY EC ON E.C_NO = EC.C_NO
  </select>
  
  <select id='getOneExerciseLib' resultType="com.project.exercise.dto.ExerciseLibDTO">
  	SELECT * FROM exercise_libraries where elid = ${elid}
  </select>
  
  <update id='updateBookmark' parameterType="int">
  	UPDATE exercise_libraries set bookmark = DECODE(bookmark, 0, 1, 1, 0)
  	<where>
  	 elid = ${elid}
  	 </where>
  </update>
</mapper>