<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	 "-//mybatis.org//DTD Config 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.project.exercise.mapper.ExercisePlanMapper'>
	<select id="selectSeq" resultType="String">
		SELECT 'R' || PR_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<insert id='insertSelectExercise'>
		INSERT INTO PR(USER_ID, R_NO, R_DATE, E_NO)
		VALUES( #{ user_id }, #{ r_no }, #{ r_date }, #{ e_no } )
	</insert>
	
	<insert id="insertExerciseVolume">
		INSERT INTO VOLUME(R_NO, V_NO) VALUES(#{ r_no },  'V' || VOLUME_SEQ.NEXTVAL )
	</insert>
	
	<select id="selectExercisePlan" resultType="com.project.exercise.dto.ExercisePlanDTO">
		SELECT R_NO, R_DATE, C_NAME, P.E_NO AS E_NO, E_NAME, E_IMG
		FROM EXERCISE_CATEGORY C 
			JOIN EXERCISE E ON E.C_NO = C.C_NO 
			JOIN PR P ON P.E_NO = E.E_NO 
		WHERE R_DATE = #{ r_date }
	</select>
	
	<select id="selectExerciseVolume" resultType="com.project.exercise.dto.ExerciseVolumeDTO">
		SELECT * FROM VOLUME WHERE R_NO IN(SELECT R_NO FROM PR WHERE R_DATE = #{ r_date } AND USER_ID = #{ user_id })
	</select>
 	
	<delete id="deleteVolume" parameterType="String">
		DELETE FROM VOLUME WHERE V_NO = #{ v_no }
	</delete>
	
	<delete id="deleteRecode" parameterType="String">
		DELETE FROM PR WHERE R_NO = #{ r_no } 
	</delete>
	
	<update id="updateDoCheck" parameterType="String">
		UPDATE VOLUME SET DO_CHECK = #{ checkValue } WHERE V_NO = #{ vNo }
	</update>
	
	<update id="updateReps" parameterType="String">
		UPDATE VOLUME SET V_REPS = #{ repsValue } WHERE V_NO = #{ vNo }
	</update>
	
	<update id="updateKg" parameterType="String">
		UPDATE VOLUME SET V_KG = #{ kgValue } WHERE V_NO = #{ vNo }
	</update>
	
	<update id="updateChecked" parameterType="String">
		UPDATE VOLUME SET DO_CHECK = #{checkValue} WHERE V_NO = #{vNo}
	</update>
	
	<select id="workoutDay" parameterType='String' resultType="String">
		SELECT DISTINCT R_DATE FROM PR WHERE USER_ID = #{ user_id }
	</select>

</mapper>