@charset "UTF-8";

.insert-notice-form {
	padding: 40px;
	color: var(--color-txt);
}

.main-container{
	margin: 100px 200px 100px 200px;
	background: var(--bg-main);
	padding: 50px 150px 25px 150px;
	color: var(--color-txt);
}

.notice-content {
	height: 680px;
}


.input-group-text{
	background: var(--bg-body);
	color: var(--color-txt);
}

.form-control {
	background: var(--bg-main);
	color: var(--color-txt);
}

