@charset "UTF-8";
:root {
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;
  --dark-workoutDay: #0000ff;

  /* #585858 */
  /*rgba(88, 88, 88, 0.8);*/
  --light-body: #f3f8fe;
  /* --light-body: #e9ecef; */
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #edf0f5;
  --light-text: #151426;
  --light-workoutDay: #e9ecef;
  
  
  --white: #fff;

  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  --font-family: cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  .scheme   { 
	 --bg-body: var(--dark-body);
	 --bg-main: var(--dark-main);
	 --bg-second: var(--dark-second);
	 --bg-workoutDay: var(--dark-workoutDay);
	 --color-hover: var(--dark-hover);
	 --color-txt: var(--dark-text);
  }
}

@media (prefers-color-scheme: light) {
  .scheme   {  
  	 --bg-body: var(--light-body);
	 --bg-main: var(--light-main);
	 --bg-second: var(--light-second);
	 --bg-workoutDay: var(--light-workoutDay);
	 --color-hover: var(--light-hover);
	 --color-txt: var(--light-text); 
  }
}

.dark {
  --bg-body: var(--dark-body);
  --bg-main: var(--dark-main);
  --bg-second: var(--dark-second);
  --bg-workoutDay: var(--dark-workoutDay);
  --color-hover: var(--dark-hover);
  --color-txt: var(--dark-text);
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --bg-workoutDay: var(--light-workoutDay);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
}

.toggle {
  position: absolute;
  top: 10px;
  right:10px;
  display: flex;
}

.toggle span {
  margin-right: 10px;
  color: white;
}

.dark-mode-switch {
  position: relative;
  width: 48px;
  height: 25px;
  border-radius: 14px;
  background-color: var(--bg-second);
  cursor: pointer;
}

.dark-mode-switch-ident {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--bg-main);
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
  top: 2px;
  left: calc(2px + 50%);
}