* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  display: grid;
  place-items: center;
  padding: 20px;
  font-family: var(--font-family);
  background-color: var(--bg-body);
}



.calendar {
  height: max-content;
  width: max-content;
  background-color: var(--bg-main);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
}

.light .calendar {
  box-shadow: var(--shadow);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--color-txt);
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  height: 50px;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}

.calendar-days div {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--color-hover);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.toggle {
  display: flex;
}

.toggle span {
  margin-right: 10px;
  color: var(--color-txt);
}

.dark-mode-switch {
  position: relative;
  width: 48px;
  height: 25px;
  border-radius: 14px;
  background-color: var(--bg-second);
  cursor: pointer;
}

.dark-mode-switch-ident {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: var(--bg-main);
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
  top: 2px;
  left: calc(2px + 50%);
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div :hover span {
  transition: width 0.2s ease-in-out, height 0s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0px;
  background-color: var(--color-txt);
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}
.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}


.calendar-days div.curr-date {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
}

.calendar-days div.curr-date span {
  display: none;
}

.btn-primary{
	margin-top:30px;
	width: 800px;
}

h3{
	color:var(--color-txt);
	margin-top:20px;
}

h5{
	color:var(--color-txt);
	margin-top:20px;
}
#date-to-plan{
	margin:30px 0px 20px 5px;
	color:var(--color-txt);
}

.exercise {
	display:flex;
	width: 800px;
	height: 300px;
	flex-basis:100%;
	flex-shrink:0;
	overflow-x: auto;
	margin-top: 50px;
}

.exercise-list {
	display: flex;
	justify-content: space-between;
	background-color: var(--bg-main);
	box-shadow: var(--shadow);
	margin: 20px 20px 20px 20px;
	
}

.exercise-list>div {
	display: flex;
	align-items: center;
	padding: 15px;
}

.exercise-program{
	width: 200px;
	height: 200px;
	border-radius: 10%;
	margin: 30px 30px 30px 30px;	
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: column;
	flex-basis: 200px;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
}

.exercise_program_img{
	width:100px;
    height:100px;
    border-radius: 50%;
}

.exercise-program-list {
	color: var(--color-txt);
}

.modal{
	background-color: var(--bg-body);	
}

.exercise-to-do{
	display: flex;
	justify-content: space-between;
	padding:20px 20px 0px 20px;
}

.exercise-info{
	display: flex;
	padding: 0px 20px 20px 0px;
	box-shadow: var(--shadow);
	
}
.exercise-info>div {
	display: grid;
	place-items: center;
	padding: 10px;
	
}
.exercise-info_img {
	width:100px;
    height:100px;
    border-radius: 10%;
    padding: 10px;
}

.hidden {
	display: none;
}

.excercise-to-do-plan{
	margin-top: 20px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.exercise-to-do-list{
	width:700px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 15px;
	box-shadow: var(--shadow);
	background: white;
	color: var(--color-txt);
	background-color: var(--bg-body);
	border: solid 1px var(--color-txt);
	
}

.exercise-img {
	margin-right: 30px;	
	padding: 20px;
}

.exercise-set-info {
	display: flex;
}

.exercise-img {
	width:200px;
	height:200px;
}

.exercise-sets {
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	height: 200px;
	
	
}

.exercise-to-do-check {
	width: 450px;
	display: flex;
	justify-content: space-between;
	padding: 8px;
}

.check-and-delete {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width:60px;
}

.excercise_set{
	width: 300px;
}

.excercise_set > input{
	width:40px;
	height:40px;
	text-align: center;
	font: 15px;
	color: var(--color-txt);
	background: var(--bg-main);
	border: none;
}

.excercise_set > label{
	font-size: 20px;
	margin-right: 10px;
}

.addSetBtn{
	width: 500px;
}

.exercise-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	padding:10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"]{
	width:25px;
	height:25px;
}

.workoutDay {
	background-color: var(--bg-workoutDay);
	color: var(--color-txt);
	border-radius: 50%;
}
