<<<<<<< HEAD
@charset "UTF-8";

.project-image {
	width: 650px;
  	background-position: center;
=======
@charset "UTF-8";

.project-image {
	width: 650px;
  	background-position: center;
>>>>>>> branch 'master' of https://github.com/MyLog6190/project
}